<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productsales>
            <general>
                <enable>1</enable>
                <productsales_dropdown_custom>3</productsales_dropdown_custom>
            </general>
        </productsales>
    </default>
</config>